.qq {
  width: 100px;
  height: 100px;
  background: #000;
}
@media (max-width: 1500px) {
  .qq {
    background: red;
  }
}
.qq2 {
  width: 100px;
  height: 100px;
  background: url('../img/bai.png');
  transform: rotate(30deg);
  border-radius: 100%;
  position: relative;
  behavior: url(../js/ie-css3.htc);
}