<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>

</style>
<body>
<div ng-app="myApp">
<!--    <hw>dadas</hw>
    <div class="hw"></div>-->
    <div hw attr-eat="饭" attr-say="好的"></div><br>
    <div>
      说：
    </div>
    <input type="text" ng-model="say1">
    <div>吃：</div>
    <input type="text" ng-model="eat1">
</div>
<script src="../js/angular.1.5.7.js"></script>
<script>
    var myApp = angular.module('myApp', []);
    myApp.directive('hw', function(){
        return {
            restrict: 'ECMA',
            template: '<div>hello word!你想说啥：{{sayI}},你想吃啥：{{eat1}}</div>',
            //replace:true,
            scope: {
                sayI: '@attrSay',
                eat1: '@attrEat'
            }
        };
    });
</script>
</body>
</html>